* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.png binary
*.bda binary
